@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
    background-color: #e5eff5;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    height: 450px;
    display: grid;
}

.top_content {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.top_content h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--Cyan);
}

.top_content span {
    font-weight: 500;
    color: var(--Bright_Yellow);
}

.top_content {
    color: #98a6bd;
}

.bottom_content {
    display: grid;
    grid-template-columns: auto auto;
    height: 250px;
}

.left_content {
    background-color: var(--Cyan);
    grid-template-columns: 2fr;
    border-radius: 0 0 0 10px;
    display: flex;
    padding: 15px;
}

.right_content {
    background: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 10px 0;
}