@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
    background-color: #e5eff5;
    position: relative;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 680px;
    height: 450px;
    display: grid;
}

.top_content {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.top_content h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--Cyan);
}

.top_content span {
    font-weight: 500;
    color: var(--Bright_Yellow);
}

.top_content {
    color: #98a6bd;
}

.bottom_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    color: #fff;
}

.left_content {
    background-color: var(--Cyan);
    max-width: 340px;
    border-radius: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.left_content h5 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
}

.left_content span {
    color: #e5eff5;
    font-size: 1.8rem;
}

.pricing {
    margin-bottom: 1rem;
    color: rgba(229, 239, 245, 0.6)
}

.btn {
    color: white;
    border: none;
    display: block;
    background: #c0df34;
    width: 100%;
    padding: 12px 0px;
    font-size: 0.9rem;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
    -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.137);
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.137);
    cursor: pointer;
    transition: background .4s ease;
}

.btn:hover {
    background: #91aa21;
}


.right_content {
    padding: 32px;
    max-width: 340px;
    background: #2ec2c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 10px 0;
}

.right_content h3 {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
}

.right_content p {
    color: var(--Light_Gray);
    width: 80%;
    line-height: 1.4;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 12px;
}

footer a {
    color: red;
}

@media(max-width:721px) {
    .right_content {
        padding: 20px;
    }

    .left_content {
        justify-content: space-evenly;
    }
}

@media (max-width: 491px) {
    body {
        padding-block: 30px;
        height: 130vh;
        display: flex;
        align-items: center;
        justify-content: start;

    }

    .container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }

    .top_content {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bottom_content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .left_content {
        border-radius: 0;
    }

    .right_content {
        border-radius: 0 0 10px 10px;
    }

    .left_content,
    .right_content {
        max-width: 100%;
    }

    footer {
        margin-top: 3rem;
    }
}